{% extends 'base/base.html' %}

{% block content %}
<h1>{{ applicationServer }}</h1>
<table>
    <thead>
        <tr>
            <th>groupid</th>
            <th>artifactId</th>
            <th>version</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
    {% for d in deployments %}
        <tr>
            <td>{{ d.artifact.groupid }}</td>
            <td>{{ d.artifact.artifactid }}</td>
            <td>{{ d.artifact.version }}</td>
            <td><a href="javascript:undeploy({{ d.pk }})">Undeploy</a>
                {% for nv in d.artifact.getNewerVersions %}
                    <a href="javascript:deploy({{ nv.pk }}, {{ applicationServer.pk }})">{{ nv.version }}</a>
                {% endfor %}
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}