{% extends 'base/base.html' %}
{% block title %}{{ applicationServer }}{% endblock %}
{% block content %}
<h1>{{ applicationServer }}</h1>
<table class="table">
    <thead>
        <tr>
            <th scope="col">GroupId</th>
            <th scope="col">ArtifactId</th>
            <th scope="col">Version</th>
            <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody>
    {% for d in deployments %}
        <tr>
            <td>{{ d.artifact.groupid }}</td>
            <td>{{ d.artifact.artifactid }}</td>
            <td>{{ d.artifact.version }}</td>
            <td>
                <button class="btn btn-danger" onclick="window.DeployManager.undeploy({{ d.pk }}, location.reload);">Undeploy</button>
                <div class="dropdown">
                    <button class="btn btn-outline-info dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Upgrade
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                {% for nv in d.artifact.getNewerVersions %}
                        <a class="dropdown-item"  onclick="window.DeployManager.deploy({{ nv.pk }}, {{ applicationServer.pk }},  location.reload);">{{ nv.version }}</a>
                {% endfor %}
                    </div>
                </div>

            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}