{% extends 'base/barebone.html' %}

{% block body %}
    <nav id="sidebar">

        <div class="sidebar-header">
            <h3>DeployManager</h3>
        </div>

        <!-- Sidebar Links -->
        <ul class="list-unstyled components">
            <li><a href="{% url 'overview' %}">Overview</a></li>
            <li><a href="{% url 'deploy' %}">Deploy</a></li>
            <li><a href="/accounts/logout/">Logout</a></li>
        </ul>
    </nav>

    <div class="content container" id="content">
    {% block content %}
    {% endblock %}
    </div>


{% endblock %}
