{% extends 'base/base.html' %}

{% block content %}
<h1>Application Servers</h1>
<div class="row">
<div class="col-12">
<table class="table">
    <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Url</th>
            <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody>
    {% for a in applicationServers %}
        <tr>
            <td>
                <a href="{% url "appServ" a.pk %}">{{ a }}</a>
            </td>

            <td>{{ a.url }}</td>
            <td>
                
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
</div>
</div>
{% endblock %}